

.DropZone.default,
.DropZone.default .FileContainer .progress,
.DropZone.default .FileContainer .file .preview{
  background:#eeeeee;
}


.DropZone.default{
  font-family: verdana;
  font-size: 100%;
  cursor:pointer;
  border:dashed 2px #dddddd;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

.DropZone.default .DropText{
  font-size: 36px;
  font-weight : bold;
  text-align: center;
  color : #dddddd;
  position: relative;
  top:25px;
}


.DropZone.default.enter{background:#FFFAE8;}
.DropZone.default.enter .DropText{
  color : #FCE283;
}


.DropZone.default .FileContainer{
  font-size:10px;
  padding:5px;
}

.DropZone.default .FileContainer .file{
  display: inline-block;
  margin:5px 1px 5px 2px;
  padding : 5px;
  border:solid 1px #ACACAC;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);
  background: #ffffff;
  width : 21%;
}

.DropZone.default .FileContainer .file .preview,
.DropZone.default .FileContainer .progress{}

.DropZone.default .FileContainer .file .preview{
  padding : 2px;
  height : 70px;
  border-bottom: none;
}

.DropZone.default .FileContainer .file .preview.doc{background : url(icons/file_type/text_document.png) no-repeat center #eeeeee;}
.DropZone.default .FileContainer .file .preview.image{background : url(icons/file_type/image.png) no-repeat center #eeeeee;}
.DropZone.default .FileContainer .file .preview.movie{background : url(icons/file_type/movie.png) no-repeat center #eeeeee;}
.DropZone.default .FileContainer .file .preview.zip{background : url(icons/file_type/zip.png) no-repeat center #eeeeee;}

.DropZone.default .FileContainer .file .preview .statusIcon{
  height:32px;
  width:32px;
  position:relative;
  margin:25% auto;    
}
.DropZone.default .FileContainer .file .preview .statusIcon.pending{background : url(icons/pending.png);}
.DropZone.default .FileContainer .file .preview .statusIcon.uploading{background : url(icons/up.png);}
.DropZone.default .FileContainer .file .preview .statusIcon.complete{
  background : url(icons/check.png); margin:0; top:-12px; left:80%;      
}


/* Progress Bar */
.DropZone.default .FileContainer .progress{height : 4px; margin-bottom: 5px;border-top: none; overflow:hidden;}
.DropZone.default .FileContainer .progress span{
  background : #00AA00;
  display: block;
  height : 100%;
  border-radius :  0 5px 5px 0px;
}

.DropZone.default .FileContainer .file .fileMeta{
  color:#4169E1;
  overflow: hidden;
  white-space: nowrap;
  font-size: 8px;
  margin: 0 0 5px 0;
}

.DropZone.default .FileContainer .file .fileName{  }

.DropZone.default .FileContainer .file .cancel{
  font-size: 10px;
  width : 100%;
  border:solid 1px #dddddd;
  color:#5E5E5E;
}




/* ERROR */
.DropZone.default .error{
  border:solid 1px #FA6E6E;
  background: #FFBDBD;
  width : 90%;
  margin: 0px auto;
  text-align:center;
  position:relative;
  
}
.DropZone.default .error .supportedBrowsers div{
  display:inline-block;
  width : 48px;
  height : 60px;
  margin : 5px;
  font-size:9px;
}

.DropZone.default .error .supportedBrowsers div span{
  position:relative;
  top:50px;
}
.DropZone.default .error .supportedBrowsers div.ff{background:url(icons/browsers/firefox.png) no-repeat;}
.DropZone.default .error .supportedBrowsers div.chrome{background:url(icons/browsers/chrome.png) no-repeat;}
.DropZone.default .error .supportedBrowsers div.ie10{background:url(icons/browsers/internet_explorer.png) no-repeat;}

